<ul class="small-block-grid-3">
   <li>
      <div class="person {{user.sex}}" ng-repeat="user in users">
         <a class='url n' href="" ng-click="viewUser(user)">
            <i>{{user.mrMrs}}.</i> Know-it-all, I
         </a>
      </div>
   </li>
</ul>

<div id="show-full" ng-show="selectedUser.email">
   <img src="images/ajax-loader.gif" alt="AJAX loader animation">

   <h2>Mr. Know-it-all, I</h2>
   <section>
      <h3>Connect with {{selectedUser.himHer}}!</h3>
      <a href="mailto:{{selectedUser.email}}">{{selectedUser.email}}</a>
      <br/>
   </section>
</div>
