      <ul class="small-block-grid-3">
         <li>
            <div class="person male">
               <a class='url n' href="#show-full"><i>Mr.</i> Know-it-all, I</a>
            </div>
         </li>
         <li>
            <div class="person female">
               <a class='url n' href="#show-full"><i>Mrs.</i> Did-it, Been-there</a>
            </div>
         </li>
         <li>
            <div class="person male">
               <a class='url n' href="#show-full"><i>Mr.</i> Real Fun.</a>
            </div>
         </li>
      </ul>



      <div id="show-full">
         <img src="images/ajax-loader.gif" alt="AJAX loader animation">
         <h2>Mr. Know-it-all, I</h2>
         <section>
            <h3>Connect with him!</h3>
            <a href="mailto:knowitall@whitehouse.gov">knowitall@whitehouse.gov</a>
            <br/>
         </section>
      </div>