      <div class="row">
         <div class="column small-offset-1 small-10 large-offset-2 large-8">
            <h1>Login</h1>
            <form name="loginForm" ng-submit="submit()" novalidate class="small-8">
               <input ng-model="user.login" ng-minlength="3" ng-maxlength="20" type="text" ng-class="{ error: error}" placeholder="enter your login" required>
               <small ng-show="error" ng-class="{ error: error}">{{error}}</small>
               <input ng-model="user.password" ng-minlength="3" ng-maxlength="20" type="password" placeholder="enter your password" required>
               <input type="submit" value="Log me in" class="button">
               <a href="/#signup" class="button secondary">Sign me up</a>
            </form>
         </div>
      </div>
