      <div class="row">
         <div class="column small-offset-1 small-10 large-offset-2 large-8">
            <h1>Login</h1>
            <form method="post" action="http://localhost:8888/login" class="small-8">
               <input class="error" name="login" type="text" placeholder="enter your login">
               <small class="error">Something went wrong!</small>
               <input name="password" type="password" placeholder="enter your password">
               <input type="submit" value="Log me in" class="button">
               <a href="/signup" class="button secondary">Sign me up</a>
            </form>
         </div>
      </div>
