<div class="row">
   <div class="column small-offset-1 small-10 large-offset-2 large-8">
      <h1>My Profile</h1>
      <img src="{{profile.avatar}}" alt="profile image">
      <!-- action="http://localhost:8888/user/me/avatar" -->
      <form novalidate>
         <input type="file">
         <input type="submit" value="Upload" class="button tiny">
      </form>
      <form class="small-8" novalidate>
         <input ng-model="profile.email" type="email" placeholder="enter your email">
         <label for="male">Male
            <input ng-model="profile.sex" id="male" type="radio" value='male' required>
         </label>
         <label for="female">Female
            <input ng-model="profile.sex" id="female" type="radio" value='female' required>
         </label>
         <label for="public">Public:
            <input ng-model="profile.is_published" id="public" type="checkbox">
         </label>
         <input type="submit" value="Update my profile" class="button">
         {{profile}}
      </form>
   </div>
</div>