<div class="row">
   <div class="column small-offset-1 small-10 large-offset-2 large-8">
      <h1>My Profile</h1>
      <img ng-src="{{profile.avatar}}" alt="profile image" class="user-avatar">

      <div>
         <input ng-file-select="" type="file" ng-disabled="uploader.queue.length >= 1">
         <table class="table" ng-show="uploader.queue.length >= 1">
            <thead>
            <tr>
               <th width="50%">Name</th>
               <th ng-show="uploader.isHTML5">Size</th>
               <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in uploader.queue">
               <td><strong>{{ item.file.name }}</strong></td>
               <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
               <td nowrap class="file-actions">
                  <button type="button" class="button tiny" ng-click="item.upload()"
                          ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                     Upload
                  </button>
                  <button type="button" class="button tiny alert" ng-click="item.remove()">
                     Remove
                  </button>
               </td>
            </tr>
            </tbody>
         </table>
      </div>
      <form class="small-8" name="profileForm" ng-submit="submit()" novalidate>
         <input ng-model="profile.email" type="email" placeholder="enter your email">
         <label for="male">Male
            <input ng-model="profile.sex" id="male" type="radio" value='male'>
         </label>
         <label for="female">Female
            <input ng-model="profile.sex" id="female" type="radio" value='female'>
         </label>
         <label for="public">Public:
            <input ng-model="profile.is_published" id="public" type="checkbox">
         </label>
         <input type="submit" value="Update my profile" class="button">
      </form>
   </div>
</div>