      <div class="row">
         <div class="column small-offset-1 small-10 large-offset-2 large-8">
            <h1>Signup</h1>
            <form method="post" action="http://localhost:8888/signup" class="small-8">
               <input class="error" name="login" type="text" placeholder="enter your login">
               <small class="error">Something went wrong!</small>
               <input name="email" type="email" placeholder="enter your email">
               <input name="password" type="password" placeholder="enter your new password">
               <input name="passwordConfirmation" type="password" placeholder="retype it">
               <input type="submit" value="Let me in!" class="button">
               <a href="/login" class="button secondary">Nah, I do have an account already.</a>
            </form>
         </div>
      </div>
