   <nav class="top-bar" data-topbar ng-controller="TabCtrl">

      <ul class="title-area">
         <li class="name">
            <h1>
               <a href="#">Hot Date!</a>
            </h1>
         </li>
      </ul>

      <section class="top-bar-section">
         <ul class="left">
            <li ng-repeat="tab in tabs" ng-hide="hide($index)" ng-class="{ active: isCurrent($index) }">
               <a ng-href="{{tab.href}}">{{tab.name}}</a>
            </li>
         </ul>
      </section>
   </nav>
